_src/Chapter_ Code_Downloads/Chapter08/chapter8_Communication/Web References/HelloWorldService/Chapter8_WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetHelloWorldMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHelloWorldMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHelloWorldMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHelloWorldMessageSoapIn">
    <wsdl:part name="parameters" element="tns:GetHelloWorldMessage" />
  </wsdl:message>
  <wsdl:message name="GetHelloWorldMessageSoapOut">
    <wsdl:part name="parameters" element="tns:GetHelloWorldMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="HelloWorldWorkflow_WebServiceSoap">
    <wsdl:operation name="GetHelloWorldMessage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetHelloWorldMessage</wsdl:documentation>
      <wsdl:input message="tns:GetHelloWorldMessageSoapIn" />
      <wsdl:output message="tns:GetHelloWorldMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloWorldWorkflow_WebServiceSoap" type="tns:HelloWorldWorkflow_WebServiceSoap">
    <wsdl:documentation>
      <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" />
    </wsdl:documentation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHelloWorldMessage">
      <soap:operation soapAction="http://tempuri.org/GetHelloWorldMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HelloWorldWorkflow_WebServiceSoap12" type="tns:HelloWorldWorkflow_WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHelloWorldMessage">
      <soap12:operation soapAction="http://tempuri.org/GetHelloWorldMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWorldWorkflow_WebService">
    <wsdl:port name="HelloWorldWorkflow_WebServiceSoap" binding="tns:HelloWorldWorkflow_WebServiceSoap">
      <soap:address location="http://localhost:1069/Chapter8_WebService_WebService/Chapter8_WebService.HelloWorldWorkflow_WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="HelloWorldWorkflow_WebServiceSoap12" binding="tns:HelloWorldWorkflow_WebServiceSoap12">
      <soap12:address location="http://localhost:1069/Chapter8_WebService_WebService/Chapter8_WebService.HelloWorldWorkflow_WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>